name: programa
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:    
  flutter:
    sdk: flutter
  google_fonts: ^6.3.2
  hive: ^2.2.3
  pdf: ^3.11.3
  printing: ^5.14.2
  provider: ^6.0.5
  string_similarity: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
